
.main-part{
    width: 60%;
    height: 100%;
    margin-top: 30px;
    /* background-color: #000000; */
}

.title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-bar h6{
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    padding-bottom: 5px;
    border-bottom: 2px solid #3772ff;
    
}
.title-bar span{
    width: 196.69px;
    height: 39.27px;
    color: #fff;
    background-color: #191b20;
    border-radius: 12px;
    text-align: center;
}
.main-detail{
    width: 687px;
    height: 86px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 5px 25px;
    background-color: #abe8ff;
    border-radius: 10px;
}

.main-detail p{
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #2b2557;
    margin-bottom: 0px;
}
.main-detail button{
    width: 86px;
    height: 24px;
    color: #2b2557;
    font-size: 12px;
    font-weight: 600;
    /* line-height: 24px;
    text-align: center; */
    background-color: #fff;
    border: 0;
    border-radius: 6px;
}
.main-reward{
    width: 700px;
    /* height: 165px; */
    color: #fff;
    background-color: #191b20;
    border-radius: 24px;
    padding: 25px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-reward div h6{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0px;
}
.main-reward div h3{
    font-size: 28px;
    font-weight: 600;
    line-height: 48px;
    margin: 0px;
}
.main-reward div span{
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    margin-right: 6px;
    padding: 6px 8px;
    background-color: #353945;
    border-radius: 11px;
}
.main-reward button{
    width: 142px;
    height: 36px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    background-color: #3772ff;
    border-radius: 10px;
    cursor: pointer;
}

.main-fee{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-fee div{
    width: 340px;
    height: 140px;
    padding: 10px 20px;
    background-color: #191b20;
    border-radius: 16px;
}
.main-fee div h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    /* margin: 0px; */
}
.main-fee div p{
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #808191;
    padding-bottom: 10px;
}
.main-fee div input{
    /* font-size: 14px;
    font-weight: 600;
    line-height: 24px; */
    color: #fff;
    padding: 10px 15px;
    /* margin-top: 15px; */
    background-color: #242731;
    border: 0;
    border-radius: 8px;
}

.api-tab{
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
    margin: 15px 0;
}
.api-tab p{
    margin-right: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}

.api-title{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 40px;
    background-color: #191b20;
    border-radius: 8px;
}
.api-title p{
    color: #808191;
    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 8px;
}